%h1 Listado completo de respuesas
%p Esta no es la mejor manera de consumir la información que hemos recabado... Pero por ahora es la única :-Þ
%table.full-list
  %tr
    %th ID
    %th Reportado por
    %th Tipo de conexión
    %th ISP
    %th Alcance
    %th Detalle
    %th Estado
    %th IP origen
    %th Hora de envío
  - @res.each do |row|
    %tr{:class => row.success_level}
      %td= row.id
      %td= h row.submitter
      %td= h row.type
      %td= h row.isp
      - if ! row.report.nil?
        %td
          = '%d%%<br/>%d / %d' % [row.success_rate*100, row.num_success_traces, row.num_traces]
        %td
          %a{:href => '/report/%d' % row.id}
            Ver
      - else
        %td -
        %td No disponible
      %td= h row.state
      %td= h row.submit_ip
      %td= Time.parse(row.submit_time).strftime('%F %T(%Z)')
