%p
  Estamos iniciando un proyecto que nos lleve a mapear qué tan
  amigables u hostiles son los diferentes ISPs mexicanos para hospedar
  relays de Tor. Para eso, un paso muy importante es mapear qué redes
  nos permiten o no tener comunicación con las autoridades de
  directorio (DirAuths).

%p
  Les agradeceré que nos ayuden a recabar esta información, para lo
  cual les pedimos:

%form{:method => 'post', :action => '/send', :id => 'rutas-form'}
  .descr Tu nombre, alias, o alguna identificación.
  .nota Si no quieres compartirlo, puedes dejarlo en blanco.
  .fld
    %input{:type => 'text', :size => 60, :name => 'submitter'}
  .descr
    Tipo de conexión
  .nota
    Indícanos qué tanto conoces y puedes confiar en la administración de la
    conexión que nos estás presentando
  .fld
    - @types.each do |type|
      %input{:type => 'radio', :name => 'conn_type_id', :value => type['id']}
      = type['name']
      %br
  .descr
    ISP que utilizas
    %br
  .nota
    Este es uno de los puntos que resulta más importante para
    nuestro estudio. Indica el nombre del proveedor de
    servicios. En caso de que no lo conozcas (por ejemplo, si
    estás reportando desde un punto público de WiFi),
    %i intentaremos
    obtener esta información desde las rutas que nos adjuntes
    — ¡Pero lo más confiable es que nos des la información!
  .fld
    %input{:type => 'text', :size => 60, :name => 'isp'}
  .descr
    Estado
  .nota
    ¿Desde dónde se toman estas rutas?
  .fld
    %select{:name => 'state_id'}
      %option{:value => ''}
        - @states.each do |state|
          %option{:value => state['id']}= state['name']
  .descr
    Reporte
  .nota
    Este es el campo más importante de los que te pedimos. Pega a
    continuación el resultado de trazar la ruta a las nueve
    %i autoridades de directorio (DirAuths)
    de Tor. Para hacerlo, en sistemas Unix (lo cual cubre, por lo
    menos, a Linux, Mac y los BSDs) puedes utilizar el siguiente
    comando:

    .script for i in 171.25.193.9 86.59.21.38 199.58.81.140 194.109.206.212 204.13.164.118 131.188.40.189 128.31.0.34 193.23.244.244 154.35.175.225 128.31.0.39 199.254.238.52; do traceroute $i; done

    Desde la línea de comando (CMD.EXE) en Windows, debería funcionar con:

    .script
      C:\> COPY CON i.bat
      <br/>
      for %%i in (171.25.193.9 86.59.21.38 199.58.81.140 194.109.206.212 204.13.164.118 131.188.40.189 128.31.0.34 193.23.244.244 154.35.175.225 128.31.0.39 199.254.238.52) do tracert %%i >> tor.txt
      <br/>
      ^Z
      <br/>
      C:\> i.bat

    Esto generará un archivo
    %i tor.txt,
    que puedes abrir con cualquier programa (p.ej. Notepad) y pegarlo en el formulario a continuación.

    Pueden ser hasta unas 350 líneas, y dependiendo de tu red, puede
    tomar unos cinco minutos en realizarse. La lista de direcciones IP
    que te presento viene de la página del
    %a{:href => 'https://consensus-health.torproject.org/'} estado de salud del consenso
    del proyecto Tor, así como del
    %a{:href => 'https://gitweb.torproject.org/tor.git/tree/src/app/config/auth_dirs.inc'} código fuente
    del cliente Tor.
  .fld
    %textarea{:cols => 80, :rows => 10, :name => 'report'}
  .fld
    %input{:type => 'submit', :value => 'Enviar'}
