!!!
%html
  %head
    %title Censura de conexiones hacia Tor desde ISPs mexicanos
    %link(rel="stylesheet" href="/style.css")
  %body
    #header
      %h1 Censura de conexiones hacia Tor desde ISPs mexicanos
    #content
      = yield
    #footer
      %p
        Este sitio pertenece al proyecto UNAM/DGAPA/PAPIME PE-102718,
        «Desarrollo de materiales didácticos para los mecanismos de
        privacidad y anonimato en redes».
      %p
        Mayor información en la
        %a{:href => 'https://www.priv-anon.unam.mx/'} página del proyecto
        y en el
        %a{:href => 'https://wiki.priv-anon.unam.mx/'} Wiki del proyecto.
        El código fuente de este sistema puede descargarse desde
        %a{:href => 'https://gitlab.com/priv-anon/rutas'} GitLab.
        Pueden consultar
        %a{:href => '/policy'} las políticas de uso
        que regirán nuestro trabajo con la información que nos brinden
