%h2 Políticas de uso de la información
%h3 Ámbito de estas políticas
%p
  Estas políticas cubren únicamente este sistema en particular
  («Censura de conexiones hacia Tor desde ISPs mexicanos»), ubicado en
  %a{:href => 'http://rutas.priv-anon.unam.mx/'} http://rutas.priv-anon.unam.mx/,
  y no otros sub-proyectos.
%h3 Motivación
%p
  La principal motivación de nuestro proyecto es la concientización acerca
  de los alcances de la recolección a gran escala de datos, la importancia
  de la privacidad de la información, y de mecanismos que puedan ayudar a
  los usuarios en general a proteger su privacidad.
%p
  Nos comprometemos a utilizar la información que gentilmente compartan
  con nosotros de forma congruente con ella.
%h3 Datos recolectados
%h4 En automático
%p
  Nuestro servidor registra en bitácora todas las conexiones que recibe —
  Fecha y hora, dirección IP de origen, y recurso (URL) solicitado.
%p
  Dicha información se almacena en las bitácoras y es guardada por un
  tiempo no mayor a un mes, para fines de monitoreo y de atención a
  incidentes. No se procesa la información de nuestras bitácoras de ninguna
  otra manera.
%h4 Provistos por el usuario
%p
  La razón de ser de este sistema es recopilar información brindada
  voluntariamente por ustedes, los usuarios. Recopilamos:
%ul
  %li Nombre, alias o alguna identificación (opcional)
  %li Tipo de conexión
  %li ISP utilizado
  %li Estado
  %li Reporte (traza de la ruta desde el equipo cliente hacia once direcciones IP)
%p
  Además de esta información, nuestro sistema registra:
%ul
  %li Dirección IP origen de la información proporcionada
  %li Hora y fecha en que se llevó a cabo la medición
%h3 Datos procesados
%p
  El principal dato que nos interesa es el reporte mismo; desarrollaremos un
  %i parser
  para obtener la información específica de cada paso de cada ruta,
  correlacionando por ISP e intentando obtener un mayor panorama de la
  situación de la conectividad a Tor, la principal red anonimizadora,
  desde nuestro país.
%h3 Contacto
%p
  Para cualquier duda respecto a este sub-proyecto en particular, o respecto
  al proyecto mencionado a pie de página, pueden escribir a la
  %a{:href => 'mailto:anon-priv@listas.iiec.unam.mx'} lista de correo anon-priv@listas.iiec.unam.mx
  o directamente al responsable del proyecto,
  %a{:href => 'mailto:gwolf@gwolf.org'} Gunnar Wolf (gwolf@gwolf.org).
