body {
    font-family: sans-serif;
}

#footer {
    clear: both;
    font-size: 50%;
}

table.full-list {
    border-collapse: collapse
}

.full-list tr:nth-child(even) {
    background-color: #eee;
}

.full-list td, .full-list th {
    vertical-align: top;
    border: solid #ccc 1px;
}

.full-list tr.success {  background-color: #bfb; }
.full-list tr.highish {  background-color: #efb; }
.full-list tr.lowish  {  background-color: #fdb; }
.full-list tr.failure {  background-color: #fbb; }

.full-list tr:hover {
    background-color: #ffe;
}

#rutas-form .descr {
    font-weight: bold;
}

#rutas-form .nota {
    font-size: 80%;
}

#rutas-form .fld {
    margin-left: 3em;
}

#rutas-form .script {
    display: block;
    margin: 1em;
    padding: 1em;
    border: solid 1px #ddd;
    background-color: #eee;
    font-family: courier;
}
